<div class="container-fluid">
    <div id="map" class="map-container"></div>
    <button class="btn btn-danger button-clear-track" disabled>Clear track</button>
</div>

@section scripts {
    <script src="~/Scripts/app/map.js"></script>
}
