<div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th colspan="4">Tracking Device</th>
                <th rowspan="2">Settings</th>
            </tr>
            <tr>
                <th>ID Type</th>
                <th>ID Value</th>
                <th>Last activity time</th>
                <th>Last coordinate</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <a href="/transport/edit/" class="btn btn-primary">Add</a>
</div>

@section scripts {
    <script src="~/Scripts/app/transport.js"></script>
}